    
    <div class="container text-center">
      <h1 class="h1b"><strong>{{nombreCine}}</strong></h1>      
    </div><br>
    
    <div class="container" >    
      <div class="row"  >
        <div class="col-sm-4 bb"  ng-repeat="pelicula in peliculas">
          <a a ui-sref="Pelicula" ng-click="setPelicula(pelicula)"><div class="panel panel-primary" >
            <div class="panel-heading">{{pelicula.nombre}}</div>
            <div class="panel-body " ><img ng-src="{{pelicula.imagen}}" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">{{pelicula.lenguaje}}</div>
            </div>
          </a>
        </div>
        
      </div>
    </div><br>
    
    
    
 