<!-- Page Content -->
<div class="container">

  
    <div class="row">
        <div class="col-lg-8" class="blanco">
            <h1 class="page-header h1b">{{pelicula.nombre}}
                <small>{{pelicula.formato}}</small>
            </h1>
        </div>
    </div>
   
    <div class="row">

        <div class="col-md-4 ">
            <img class="img-responsive" ng-src="{{pelicula.imagen}}" alt="">
        </div>

        <div class="col-md-4 sinopsis">
            <h3>Sinopsis</h3>
            <p>{{pelicula.descripcion}}</p>
            <h3>Detalles</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
    
    <div class="row">

        <div class="col-lg-8">
            <h3 class="page-header">Peliculas Relacionadas</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <hr>