<!-- Page Content -->
<div class="container col-sm-offset-3">

  
    <div class="row">
        <div class="col-lg-8" class="blanco">
            <h1 class="page-header h1b">{{pelicula.nombre}}
                <small>{{pelicula.formato}}</small>
            </h1>
        </div>
    </div>
   
    <div class="row ">

        <div class="col-md-4 ">
            <img class="img-responsive" ng-src="{{pelicula.imagen}}" alt="">
        </div>

        <div class="col-md-4 sinopsis">
            <h3>Sinopsis</h3>
            <p>{{pelicula.descripcion}}</p>
            <h3>Detalles</h3>
            <ul>
                <li> Formato : {{pelicula.formato}}</li>
                <li>Lenguaje: {{pelicula.lenguaje}}</li>
                <li>Genero : {{pelicula.genero}}</li>
                <li>Pais : {{pelicula.pais}}</li>
                <li>Censura:{{pelicula.censura}}</li>
   
            </ul>
        </div>

    </div><br>
    
    <div class="row">

        <div class="col-lg-8">
            <h3 class="page-header">Peliculas Relacionadas</h3>
        </div>

     

        
    </div>
    <!-- /.row -->


    <div class="row">
      
        
         <div >
            <iframe  width="50%" height="400"
        src='{{pelicula.trailer}}'>
      </iframe>
        </div>
        
         
       

    </div>
    <hr>