<!-- Page Content -->
<div class="container col-sm-offset-3">

  
    <div class="row">
        <div class="col-lg-8" class="blanco">
            <h1 class="page-header h1b">{{pelicula.nombre}}
                <small>{{pelicula.formato}}</small>
            </h1>
        </div>
    </div>
   
    <div class="row ">

        <div class="col-md-4 ">
            <img  ng-src="{{pelicula.imagen}}" alt="">
        </div>

        <div class="col-md-4 sinopsis">
            <h3>Sinopsis</h3>
            <p>{{pelicula.descripcion}}</p>
            <h3>Detalles</h3>
            <ul>
                <li> Formato : {{pelicula.formato}}</li>
                <li>Lenguaje: {{pelicula.lenguaje}}</li>
                <li>Genero : {{pelicula.genero}}</li>
                <li>Pais : {{pelicula.pais}}</li>
                <li>Censura:{{pelicula.censura}}</li>
                <li>Trailer:{{pelicula.trailer}}</li>
   
            </ul>
        </div>

    </div><br>
    
    <div class="row">

        <div class="col-lg-8 blanco">
            <h3 class="page-header">Trailer</h3>
        </div>
    </div>
    <!-- /.row -->
    
    <div class="row">
        <div class="col-md-8 " >
          <iframe  width="100%" height="350" ng-src="{{url}}"></iframe>
        </div>
    </div>

    <div class="row">
      
