.a{
    padding: 30px 30px 30px 30px;  
}

.b{
    padding-top:50px;
}

.im{
    width: 20px;
    height: 20px;
}

body{
    
     background-image: url("../img/robot.jpg") ;
     background-attachment: fixed ;
     opacity:1;
}

.aa{
    
    opacity: 0.5;
}

.bb{
    
    opacity:0.8;
}

.h1b{
    
    color:#F8F8FF;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.sinopsis{
    color:#F8F8FF;
}

.blanco{
    color:#F8F8FF;
}